[
    {rabbit, [
            {tcp_listeners, []},
            {ssl_listeners, [{"localhost", 5671}]},
            {auth_mechanisms, ['EXTERNAL', 'PLAIN', 'AMQPLAIN']},
            {ssl_options, [ {cacertfile,"D:\\ws\\syncpipes3\\syncpipes\\syncpipes-server\\cert\\testca\\cacert.pem"},
                            {certfile,"D:\\ws\\syncpipes3\\syncpipes\\syncpipes-server\\cert\\testca\\server\\cert.pem"},
                            {keyfile,"D:\\ws\\syncpipes3\\syncpipes\\syncpipes-server\\cert\\testca\\server\\key.pem"},
                            {verify,verify_none},
                            {fail_if_no_peer_cert,true}
                          ]
            }
        ]
    }
].